In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Pandas Review

## Load `Titanic.csv`

## Inspect the Data

### Look at the data

### Print your columns and corresponding data types

### Print all columns as a list

### Print the shape of your dataframe

### Visualize the distribution of classes

### Group by `pclass` and take the mean

### Explore unique Values in the `room` and `ticket` fields

### Create a series from the `name` column in the titanic df

### Exercise: How to bin a numeric series to 10 groups of equal size?

## Working with dataframes (append, merge, concentrate, reshape)
Reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

### Step I. Split the data

### Split the data horizontally

### Split the data Vertically - get ['pclass', 'survived', 'name'] into one list and ['age', 'embarked', 'home.dest'] to another

### Practice: Slice titanic data set from `pclass` to the end, skipping a column in between

### Step II. Compbine the data

##### Concentrate Horizontally

<img src="concat1.png" style="width: 400px;">

###  Combine `titanic_hor1` and `titanic_hor2` horizontally as shown in the image above

#### Use `Concat`

#### Use `Append`

##### Concentrate Vertically

<img src="concat2.png" style="width: 400px;">

### Concentrate `titanic_vert1` and `titanic_vert2` vertically

#### Use `concat`

#### Use `Merge` to combine  `titanic_hor1` and `titanic_vert1` on `name`

#### Merge `titanic_hor1` and `titanic_vert1` on `name` so all rows in `titanic_vert1` are included

#### Check if the resulted dataset has duplicated values

## Delete a few columns from the df

In [1]:
#use drop function

# Working with Categorical Data

### Convert female to 1, male to 0 in the gender field

In [2]:
# specify what 1 stands for

### Replace values in the `pclass` column with a numerical scale

# Introduction to Statistics

## Mean, Median & Mode

##### Mean = add all data points and divide by the number of data points
Compute the mean age of the passengers on board

 
##### Mode = most frequent number
Find the mode of the age distribution

In [4]:
from statistics import mode
data1 = (2, 3, 3, 4, 5, 5, 5, 5, 6, 6, 6, 7) 
data2 = (-1, -2, -2, -2, -7, -7, -9) 
data3 = (-1, -2, -2, -2, -7, -7,-7, -9)

##### Median = order all data points and pick out the one in the middle (or if there are two middle numbers, taking the mean of those two numbers)
Find the median age of the passengers on board

In [3]:
from statistics import median
data1 = (2, 3, 3, 4, 5, 5, 5, 5, 6, 6, 6, 7)

## Average of Averages
Compute the average survival rate (mean of the survived column)

Now compute the average survival rates of the male and female 1st, 2nd, and 3rd class passengers (six groups in total)

Compute the average of these six averages. Is it the same as the the overall average?

### Why is it different and what is the right way to calculate the Average of averages?

#### Let's start all over again. How do we calculate the mean? add up all the numbers, then divide by how many numbers there are.
 $$mean = \frac{\sum_{i=1}^N x_i}{N}$$
 
#### Calculate the mean of `survived` column

#### How to calculate the mean of one particular group: sum all elements in this group and divide by the total number of elements in this group.

$$mean_k = \frac{\sum_{i=1}^{N_k} x_{ki}}{N_k}$$

is the mean of group $k$, where $x_{ki}$ is value $i$ of group $k$ and $N_k$ is the number of values in group $k$, and


#### Calculate the survival rate of first class male

Next: how the overall mean relates to the mean of every group:
        $$N = \sum_{i=1}^M N_k$$
relates the total number of values $N$ to the number of values in each of the $M$ groups.

#### Based on things we just discussed try to derive a formula that computes $mean$ using only $mean_k$, the $N_k$, and $N$.

The key step is multiplying each $mean_k$ by $N_k$ to get the sum of all values in that group 

$$mean_k * N_k = \frac{\sum_{i=1}^{N_k} xk_i}{N_k} * N_k = \sum_{i=1}^{N_k} xk_i$$

If we add these sums for each group, we get the sum of all elements:

$$\sum_{k=1}^M ( mean_k * N_k ) = \sum_{k=1}^M ( \sum_{i=1}^{N_k} xk_i ) = \sum_{i=1}^N x_i$$

The resulting formula is:

$$\frac{\sum_{k=1}^M ( mean_k * N_k )}{N} = \frac{\sum_{i=1}^N x_i}{N} = mean$$

In other words:
Multiply the size of each group by the average of each group, add all this together, then divide by total passengers
to recover overall mean

## Standardization vs Normalization

### Normalizing - means to scale a variable to have values between 0 and 1
#### Normalize the age column in the data set

### Standardizing  - transforms data to have a mean of zero and a standard deviation of 1

#### Plot the distribution of `pclass_replaced` and `age` columns